/* Your CSS styles here */
.homebody {
  /* background-color: black; */
  /* background-image: url("https://www.prestigelavenderfields.net.in/project/should-i-buy-a-home-in-bangalore-on-the-outskirts.webp"); */
  color: aliceblue;
  background-image: url("https://is1-3.housingcdn.com/01c16c28/c967df92eb5dbd1586c274a20f02fd0d/v0/fs/2_bhk_apartment-for-sale-thanisandra-Bangalore-others.jpg");
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-attachment: fixed;
  /* Fixed background */
  color: rgba(8, 8, 8, 0.9);
}

#form-section {
  /* background-image: url("https://www.tajhotels.com/content/dam/luxury/hotels/TajWestEnd,Bangalore/images/16x7/At_A_glance_TWE_Hero_Exterior_16x7.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"); */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-attachment: fixed;
  background-color: black;

  /* Fixed background */
  color: white;
  height: 650px;
}
#third-section {
  background-image: url("https://www.tajhotels.com/content/dam/luxury/hotels/TajWestEnd,Bangalore/images/16x7/At_A_glance_TWE_Hero_Exterior_16x7.jpg/jcr:content/renditions/cq5dam.web.1280.1280.jpeg");
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 650px;
}

.maindiv {
  margin: auto;
  text-align: center;
  margin-top: 40px;
  color: rgb(245, 245, 245);
  /* margin-right: 70px; */
}

.maindiv h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#price {
  color: white;
}

.maindiv p {
  font-size: 16px;
  /* font-style: bold; */
  color: aliceblue;
}

#about-bangalore {
  height: 300px;
}

#first-div {
  margin: auto;
  text-align: center;
}

#first-div h1 {
  margin-top: 460px;
  color: white;
}

#first-div h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.col-md-3 img {
  margin-left: -270px;
  height: 650px;
  /* width: 200px; */
}

.col-md-4 img {
  /* margin-top: 10px; */
  height: 650px;
  width: 500px;
}

.footer {
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  padding: 10px 0; /* Top and bottom padding */
  text-align: center; /* Center-align text */
  /* position: fixed; */
  /* Fixed position at the bottom */
  width: 100%; /* Full width */
  bottom: 0; /*Stick to the bottom*/
  /* height: 50px; */
  height: 70px;
}

.footer p {
  margin: 3px 0; /* Adjust margin for paragraphs */
}

.footer a {
  color: #fff; /* Link color */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Bold text for links */
}

.footer a:hover {
  text-decoration: underline; /* Underline on hover */
}

.catchy-line .future {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animate-in .future {
  opacity: 1;
}

.animate-in {
  animation: slideIn 1s forwards;
}
#animated-text {
  font-size: 40px;
  color: whitek;
  margin-top: 20px;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
